@{
	ViewBag.Title = "Home Page";
}
<div class="row">

	<div class="col-md-9">
		<div class="product-info">
			<img src="~/img/VanGogh.jpg" />

			<ul class="product-props">
				<li>Price: $9.99</li>
				<li>Artist: Van Gogh</li>
				<li>Title: </li>
				<li>Description: Self-Portrait</li>
			</ul>
			<button id="buy-button">Buy</button>
		</div>
	</div>

	<div class="col-md-3">content 3</div>
</div>
